venv/
__pycache__/
*.pyc
.cache/
.logs/
metastore_db/
migration_backup/
checks_old/
semantics_old/
ml_container/.logs/
ml_container/
models/.logs/
models/checks/full_model.yml
models/semantics/full_model.yml
models/mart/weekly_orders.html
docker/ssl/
_write_test
models/_write_test
.DS_Store
derby.log
